<div class="row">
  <div class ="col-md-2">
  </div>
  <div class="col-md-8 center">
  <h1>Superlist - Todo!</h1><br/>
  <%= form_tag destroy_multiple_todos_path, method: :delete do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Todo list</th>
        <th>Days left</th>
        <th>Completed</th>
        <th>Action</th>
      </tr>
    </thead>
    <%= render partial: 'todos/todo', collection: @todos %>
  </table>
  <%= submit_tag "Delete selected" %>
  <% end %>
    
    
    <br/>
    <div class='new-todo'>
      <%= render partial: 'todos/form', locals: { user: @user, todo: @new_todo} %>
    </div>
  </div>

  <div class ="col-md-2">
  </div>

</div>