<br/>
<div class="jumbotron">
  <h1>Superlist</h1>
  <p>SuperList - A self-destructing to-do list to keep you focused on the things that really matter!</p>

</div>
 
<div class="row">
  <div class="col-md-4">
    <h2>Solves your problems</h2>
    <p>Superlist will help you tackle your problems.</p>
  </div>
  <div class="col-md-4">
    <h2>Solve problems with friends!</h2>
    <p>Superlist will help you share your Todos with friends and solve problems together!.</p>
  </div>
  <div class="col-md-4">
    <h2>Easier grocerry shopping </h2>
    <p>Superlist will make your life easier with your grocery shopping.</p>
  </div>
</div> 