<div class="row">
  <div class="col-md-8">
    <h1>Todo List</h1>
    <%= render partial: 'todos/todo', collection: @todo %>
    <br/>
    <div class='new-todo'>
      <%= render partial: 'todos/form', locals: { category: @category, todo: @new_todo} %>
    </div>
  </div>
</div>
